@font-face {
	font-family: "Azonix";
	src: url("Azonix.otf");
}

html, body {
	height: 100%
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #1b202c;
	font-family: "Azonix";
}

#root {
	display: grid;
	grid-template-rows: 150px  300px;
	grid-template-columns: 1fr;
	padding-bottom: 10px;
	grid-gap: 5px;
	background-color: #1b202c;
	z-index: 1;
	max-height: 455px;
}

#numpad {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	background-color: #1b202c;
	box-shadow: 0 0 15px;
	padding-bottom: 5px;
}

#numpad a:nth-child(4n) {
	background-color: #171b24;
}

#numpad a:last-child {
	background-color: #f12528;
}

#numpad a:last-child:hover {
	background-color: #f12528;
}

#display {
	position: relative;
	grid-row-start: 1;
	grid-column-start: 1;
	width: 100%;
	max-width: 270px;
	background-color: #121723;
	color: #888d91;
	text-align: right;
	box-shadow: 0 0 15px black;
	overflow: auto;
}

#display:after {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
	content: "";
}

#display > div:first-child {
	display: inline-block;
}

#display > div div {
	margin-right: 5px;
}

#history {
	position: relative;
	transition: 1s;
	grid-row: 1 / 3;
	z-index: -1;
	align-self: end;
	box-shadow: 0 0 15px;
	height: 100%;
	margin-left: -10px;
	opacity: 0;
	min-width: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#history:after {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
	content: "";
}

#history > div:first-child{
	display: inline-block;
	color: white;
}

#history div div.equation:first-child {
	margin-top: 10px;
}

#history div div.equation:last-child {
	font-size: 15px;
}

#history-button {
	width: 35px;
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
}

#history-button:hover {
	background-color: #2a303b;
	border-radius: 50%;
}

#history-button:active {
	box-shadow: 0 0 7px black;
}

.equation:last-child {
	font-size: 30px;
	color: white;
}

.equation {
	float: right;
	clear: right;
	margin: 0 15px;
	font-size: 15px;
}

.numpad-button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 50px;
	height: 50px;
	outline: none;
	text-decoration: none;
	border-radius: 50%;
	font-size: 20px;
	margin: 0 5px;
}

.numpad-button:hover {
	background-color: #171b24;
}

.numpad-button:active {
	box-shadow: 0 0 7px #0d111a;
}

.delete {
	grid-column: 2/4;
	grid-row-start: 1;
	z-index: 1;
}

.hidden-button {
	grid-column: 2/4;
	grid-row-start: 1;
}